body{
    overflow-x: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

position: relative;
    
  }

.content {
    margin-left: 250px;
    padding: 0px 0px;
}

.welkom-over-ons {
    color:  black;
    background-color: white;
    padding: 30px;
}


.welkom-over-ons h1 {
  font-size: 40px;
  font-family: 'Neucha', cursive;
  border-bottom: 6px solid #013220;
}



.info-over-ons{
    padding: 30px;
}

.info-over-ons1{
    
    font-size: 1.3em;
 }

.info-over-ons2  button{
    color: white;
    width: 50%;
    background: #013220;
    padding: 5px;
    font-size: 18px;
     margin: 12px 0;

}

.info-over-ons2  button:hover {
    color: #013220;
    width: 50%;
    background: none;
    border: 2px solid #013220;
    padding: 5px;
    font-size: 18px;
     margin: 12px 0;
  }


.info-over-ons3 button{
    color: white;
    width: 50%;
    background: #013220;
  
    padding: 5px;
    font-size: 18px;
     margin: 12px 0;
}


.info-over-ons3  button:hover {
    color: #013220;
    width: 50%;
    background: none;
    border: 2px solid #013220;
    padding: 5px;
    font-size: 18px;
     margin: 12px 0;
  }
.contact-over-ons{
    padding: 30px;
}

.contact-over-ons1 p{
    font-size: 20px;
    text-decoration: underline  #013220 ;
}

.contact-over-ons1 i{
    font-size:2em;
}

/*FOOTER*/
.footer {
    position: absolute; 
    bottom: 0;
    left: 0;
    width:100%;
    background-color: #013220;
    color: white;
    text-align: center;
  }


   /* On screens that are less than 700px wide, make the sidebar into a topbar */
   @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    .sidebar a {
      float: left;
    }

    div.content {
      margin-left: 0;
    }



  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }

    div.content {
        margin-left: 0;
      }
  }
