/* The side navigation menu */
body{
  font-family: 'Open Sans Condensed', sans-serif;
}


.btn-icoon{
    color: #013220;
    font-size: 5em;
    border: none;
    background: none;
  }

  .btn-icoon:hover {
      color: white;
      font-size: 5em;
      background-color:#013220 ;
  }
  
  .sidebar {
      margin: 0;
      padding: 0;
      width: 250px;
      background-color: white;
      position: fixed;
      height: 100%;
      overflow: auto;
    }
    
    /* Sidebar links */
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;                                                                                                    
      font-size: 20px;
    }
 
    .btn-sidebar{
      color: black;
      width: 50%;
      background: none;
      border: 2px solid #013220;
      padding: 5px;
      font-size: 18px;
       margin: 12px 0;
    }

    .btn-sidebar:hover {
      color: white;
      width: 50%;
      background: #013220;
      border: 2px solid #013220;
      padding: 5px;
      font-size: 18px;
       margin: 12px 0;
    }


    .btn-sidebar-gh{
      color: white;
      width: 50%;
      background: #013220;
      border: 2px solid #013220;
      padding: 5px;
      font-size: 18px;
       margin: 12px 0;
    }

    .btn-sidebar-gh:hover{
      color: #013220;
      width: 50%;
      background: white;
      border: 2px solid #013220;
      padding: 5px;
      font-size: 18px;
       margin: 12px 0;
    }
   
    /*ADD LINK TO CHANGE COLOR WHEN MOUSOVER*/
   

     /* On screens that are less than 700px wide, make the sidebar into a topbar */
     @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
  
      .sidebar a {
        float: left;
      }

      
      .btn-sidebar  {
        color: white;
        width: 20%;
        background: #013220;
      
        padding: 5px;
        font-size: 18px;
         margin: 12px 0;
      }
  
      .btn-sidebar:hover {
        color: #013220;
        width: 20%;
        background: none;
        border: 2px solid #013220;
        padding: 5px;
        font-size: 18px;
         margin: 12px 0;
      }
    }
      /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }