body{
    overflow-x: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
  }
  
    
    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    .content {
      margin-left: 250px;
      padding: 0px 0px;
  }
                              
  .fixed-wrap0 {
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 0px;  
  }
  
  .centered0{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .centered0 h1{
    color: white;
    font-size: 500%;
    font-family: 'Neucha', cursive; 
    text-transform: uppercase;
  }

  .centered0 h3{
    color: white;
    font-size: 200%;
    font-weight: 500;
    text-transform: uppercase;
  }

  .showhomePaginah1 h1{
    font-size: 4em;
    margin: 2rem 1rem;
    font-family: 'Neucha', cursive; 
    color: #013220;
  }

  .showhomePaginah3{
    font-size:150%;
    color: black;
  }
  
  /*--TWO COLUMN SECTION ABOUT US*/
  .home-over-ons{
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 20px;
  }

  .home-over-ons a{
    color: white;
      width: 50%;
      background: #013220;
      border: 2px solid #013220;
      padding: 5px;
      font-size: 18px;
       margin: 12px 0;

  }
  .home-over-ons a:hover{
    color: #013220;
    width: 50%;
    background: none;
    border: 2px solid #013220;
    padding: 5px;
    font-size: 18px;
     margin: 12px 0;


  }

    /*LEER DE KABOUTER KENNEN*/

    .leer-de-kabouter-kennen i {
      color: #013220;
      font-size: 5em;
      margin: 1rem;
    }
  
    .leer-de-kabouter-kennen h1{
      font-size: 4em;
      margin: 2rem 1rem;
    }
  
    .leer-de-kabouter-kennen h3 {
      color: #013220;
      font-size: 2em;
        margin: 1rem;
    }
  
    .leer-de-kabouter-kennen p{
      font-size: 20px;
    }

  


     /*FIXED BACKGROUND2 */
   
     .fixed-wrap {
      position: relative;
      text-align: center;
      padding: 0px;
       margin: 0px;

    }
  
    .centered-fixedbackground2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }


    /*TWO COLUMN SECTION ACTIVITIES */
    
  
    .two-column-section1{
       background-color: white;
       padding: 30px;
       margin: 0px;
    }
     
    .two-column-section1 h1 {
      font-family: 'Neucha', cursive; 
      vertical-align: middle;
      color: #013220;
    }

    .two-column-section1 p {
      font-size: 2em;
      color: #013220;
      margin: 0px;     
    }

    .two-column-section1 a{
      color: white;
      background: #013220;
       width: 40%;
      padding: 5px;
      font-size: 18px;
      border: 1px solid #013220;
    }

    .two-column-section1 a:hover{
      color: #013220;
      width: 40%;
      background:white;
      border: 1px solid #013220;
      padding: 5px;
      font-size: 18px;
    }
  
    .two-column-section2  {
      padding: 0px;
      margin: 0px;
    }
 
    /*GET TO KNOW THE SPONSORS*/
    .titelleersponsorenkennen{
      color: black;
      font-size: 3em;
      padding: 20px;
    }

    .sponsorenkennen0{
      padding: 15px;
    }
    .sponsorenkennen0 i {
      color: #013220;
      font-size: 5em;
      margin: 1rem;    
    }

    .knoppen a{
      color: white;
      background: #013220;
      width: 30%;
      padding: 5px;
      font-size: 18px;
      margin: 30px 10px;
      border: 1px solid #013220;
    }

    .knoppen .btn:hover{
      color: #013220;
       background: white;
      padding: 5px;
      width: 30%;
      font-size: 18px;
       margin: 30px 10px;
       border: 1px solid #013220;
    }


   /*WIST U DAT SECTION*/
   .wistudat {
    padding: 1rem;
    border-radius: 0px;
  }

  .wistudat p{
    font-size:150%;
  }


    
    /*FOOTER*/
    footer {
      position: relative;
      left: 0;
      bottom: 0;
      width:100%;
      background-color: #013220;
      color: white;
      text-align: center;
    }
  
    /* On screens that are less than 700px wide, make the sidebar into a topbar */
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
  
      .sidebar a {
        float: left;
      }

      div.content {
        margin-left: 0;
      }
    }  
    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }